.first_session  
  .first_session_wrapper.row.input-field
    %i.left.fas.fa-times
    %h1 Tell us your Region & Body Tipe
    = form_with( url: "/comments/session", class: "col s10 m10 l10 first_session_form", local: true) do |f|
      .field
        = f.label :country
        %br/
        = f.country_select :country, prompt: 'Please select a country', id: "country"
      .field
        = f.label :animal
        %br/
        %label.radio_button.radio_button_wolf
          %h3.radio_button_h3_hidden muscle
          = image_tag '/images/wolf.png', class: 'wolf radio_button_img'
          = f.radio_button :animal, :wolf, class: "radio_button_hidden radio_button_hidden_wolf"
          = f.label :animal, :wolf, value: "wolf"
        %label.radio_button.radio_button_bear
          %h3.radio_button_h3_hidden Bear
          = image_tag '/images/bear.png', class: 'bear radio_button_img'
          = f.radio_button :animal, :bear, class: "radio_button_hidden radio_button_hidden_bear"
          = f.label :animal, :bear, value: "bear"
        %label.radio_button.radio_button_dog
          %h3.radio_button_h3_hidden Slim
          = image_tag '/images/dog.png', class: 'dog radio_button_img'
          = f.radio_button :animal, :dog, class: "radio_button_hidden radio_button_hidden_dog"
          = f.label :animal, :dog, value: "dog"
        %label.radio_button.radio_button_bull
          %h3.radio_button_h3_hidden Bulky
          = image_tag '/images/bull.png', class: 'bull radio_button_img'
          = f.radio_button :animal, :bull, class: "radio_button_hidden radio_button_hidden_bull"
          = f.label :animal, :bull, value: "bull"
        %label.radio_button.radio_button_cat
          %h3.radio_button_h3_hidden Lean
          = image_tag '/images/cat.png', class: 'cat radio_button_img'
          = f.radio_button :animal, :cat, class: "radio_button_hidden radio_button_hidden_cat"
          = f.label :animal, :cat, value: "cat"
        %label.radio_button.radio_button_pig
          %h3.radio_button_h3_hidden Chubby
          = image_tag '/images/pig.png', class: 'pig radio_button_img'
          = f.radio_button :animal, :pig, class: "radio_button_hidden radio_button_hidden_pig"
          = f.label :animal, :pig, value: "pig"
      %br/
      .actions
        = f.submit(class:"first_session_button", value: "Submit")
= javascript_include_tag 'comments/session.js'