.login_user_wrapper.row
  %h2 Log in
  = form_with(model: @user, url: user_session_path, class: "col s6", local: true) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
    .actions
      = f.submit "Log in"
