.top-page
  .top-page-contents#contents
    .top-page-contents-search-box.container
      .row
        = link_to brands_path do
          %h3.waves-effect.btn.col.s12.m6.l3
            %i.left.fas.fa-tshirt List
        = link_to "/brands/ranking" do
          %h3.waves-effect.waves-black.btn.col.s12.m6.l3
            %i.fas.fa-sort-numeric-up.left Ranking
        %h3.waves-effect.waves-light.region.btn.col.s12.m6.l3
          %i.fas.fa-globe.left Region
        %h3.waves-effect.waves-light.search.btn.col.s12.m6.l3
          %i.fas.fa-search.left Search
.test.home_brand
  .home_brand_slide_show
    - @brands.each do |brand|
      .home_brand_slide_show_container
        = image_tag brand.image.url, class: 'home_brand_slide_show_image'
.test.test_blue
  #map-continents
    %ul.continents
      %li.c1
        = link_to "Africa", area_ranking_brands_path(area: "africa")
      %li.c2
        = link_to "Asia", area_ranking_brands_path(area: "asia")
      %li.c3
        = link_to "Oceania", area_ranking_brands_path(area: "oceania")
      %li.c4
        = link_to "Europe", area_ranking_brands_path(area: "europe")
      %li.c5
        = link_to "Americas", area_ranking_brands_path(area: "americas")
      %li.c6
        = link_to "Americas", area_ranking_brands_path(area: "americas")
.test.green
  %h1 GREEN
  -# .search_area.disappear
  -#   = form_with(model: @brand, url: search_brands_path, class:"search-form", local: true) do |f|
  -#     = f.text_field :name, placeholder: "\uf002 search", class: "font-awesome fa search-form-area", autocomplete: "off"
  -#   .search_area_result.row
  


%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js", :type => "text/javascript"}
%script{:src => "https://cssmapsplugin.com/5/jquery.cssmap.min.js", :type => "text/javascript"}
= javascript_include_tag 'brands/home.js'