.top-page
  .top-page-contents#contents
    .top-page-contents-search-box.container
      .row
        %h3.waves-effect.waves-light.btn.col.s12.m12.l12
          Find Men's underwear Brand!!
        = link_to brands_path do
          %h3.waves-effect.btn.col.s12.m12.l12.top-page-contents-search-box-btn-index
            %i.left.fas.fa-tshirt
        = link_to "/brands/ranking" do
          %h3.waves-effect.waves-black.btn.col.s12.m12.l12.top-page-contents-search-box-btn-ranking
            %i.fas.fa-sort-numeric-up.left
        %h3.waves-effect.waves-light.region.btn.col.s12.m12.l12.top-page-contents-search-box-btn-world
          %i.fas.fa-globe.left
        %h3.waves-effect.waves-light.search.btn.col.s12.m12.l12.top-page-contents-search-box-btn-search
          %i.fas.fa-search.left
        = link_to new_contact_path do
          %h3.waves-effect.waves-light.btn.col.s12.m12.l12.top-page-contents-search-box-btn-contact
            %i.fab.fa-wpforms.left
    .search_area
      = form_with(model: @brand, url: search_brands_path, class:"search-form disappear", local: true) do |f|
        = f.text_field :name, placeholder: "\uf002 search", class: "font-awesome fa search-form-area", autocomplete: "off"
      .search_area_result.row
.test.test_blue
  %h1 Search World Brands
  #map-continents
    %ul.continents
      %li.c1
        = link_to "Africa", area_ranking_brands_path(area: "africa")
      %li.c2
        = link_to "Asia", area_ranking_brands_path(area: "asia")
      %li.c3
        = link_to "Oceania", area_ranking_brands_path(area: "oceania")
      %li.c4
        = link_to "Europe", area_ranking_brands_path(area: "europe")
      %li.c5
        = link_to "Americas", area_ranking_brands_path(area: "americas")
      %li.c6
        = link_to "Americas", area_ranking_brands_path(area: "americas")


%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js", :type => "text/javascript"}
%script{:src => "https://cssmapsplugin.com/5/jquery.cssmap.min.js", :type => "text/javascript"}
= javascript_include_tag 'brands/home.js'
