.index_page.row
  - @brands.each do |brand|
    .brand_container.col.s12.m12.l12
      = link_to brand_path(brand) do
        = brand.name
        - if brand.twitter?
          = image_tag brand.image.to_s
.index_loading
  %h1.index_loading_h1 Loading next 20
  = image_tag ('ajax-loader.gif'), class: "loading_image", alt:"Show next 20",height: "50px"
= javascript_include_tag 'brands/index.js'
