.show_brand_wrapper.row
  .show_brand_wrapper_upper.row.col.s12.m12.l12
    .show_brand_wrapper_upper_image.col.s12.m6.l6
      = image_tag "#{@brand.image}"
    .show_brand_wrapper_upper_detail.col.s12.m5.l5
      %h1 #{@brand.name}
      %h2 Country: #{@brand.country}
      %h2 Designer: nullnullnullnull
      %h2 
        %i.left.fas.fa-external-link-alt #{link_to @brand.url}
      %ul 
        %li
          - if @brand.facebook
            = link_to @brand.facebook do
              %i.left.fab.fa-facebook-square
          - else @brand.facebook
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-facebook-square
        %li
          - if @brand.twitter
            = link_to @brand.twitter do
              %i.left.fab.fa-twitter-square
          - else @brand.facebook
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-twitter-square
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-instagram
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-instagram
      .show_brand_wrapper_upper_detail_comments
        = form_with(model: @comment, url: "/brands/#{@brand.id}/comments", class: "col s11 m11 l11 comment_form", local: true ) do |f|
          #slider
            .hidden_box
              = f.label :comment
              = f.text_field :comment

              = f.label :animal
              = f.text_field :animal

              = f.label :rating
              = f.number_field :sexy_rate, value: 1, max:100, min: 1, class: "rating"
          
              = f.submit value: "Submit" ,class: "button"
  .show_brand_wrapper_lower
    -if @brand.instagram_view
      %script{:src => "https://instawidget.net/js/instawidget.js?u=#{@brand.instagram_view}&width=80%"}
= javascript_include_tag 'brands/show.js'