.show_brand_wrapper.row
  .show_brand_wrapper_upper.row.col.s9.m9.l12
    .show_brand_wrapper_upper_image.col.s12.m12.l6
      = image_tag "#{@brand.image}"
    .show_brand_wrapper_upper_detail.col.s12.m12.l5
      %h1 #{@brand.name}
      %h2
        Country: #{@country.name}
        %i{class: "flag-icon flag-icon-#{@brand.country.downcase}"}
      %h2 
        %i.left.fas.fa-external-link-alt #{link_to @brand.url}
      %ul 
        %li
          - if @brand.facebook
            = link_to @brand.facebook do
              %i.left.fab.fa-facebook-square
          - else @brand.facebook
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-facebook-square
        %li
          - if @brand.twitter
            = link_to @brand.twitter do
              %i.left.fab.fa-twitter-square
          - else @brand.facebook
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-twitter-square
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-instagram
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-instagram
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-youtube
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-youtube
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-tumblr
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-tumblr
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-pinterest
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-pinterest
        %li
          - if @brand.instagram
            = link_to @brand.instagram do
              %i.left.fab.fa-linkedin
          - else @brand.instagram
            = link_to "/brands/#{@brand.id}/#" do
              %i.left.fab.fa-linkedin
      .show_brand_wrapper_upper_detail_comments
        = form_with(model: @comment, url: "/brands/#{@brand.id}/comments", class: "col s11 m11 l11 comment_form", local: true ) do |f|
          #slider
            .hidden_box
              = f.label :comment
              = f.text_field :comment

              = f.label :animal
              = f.text_field :animal

              = f.label :rating
              = f.number_field :sexy_rate, value: 1, max:100, min: 1, class: "rating"
          
              = f.submit value: "Submit" ,class: "button"
  .show_brand_wrapper_lower
    - if @brand.twitter  
      .show_brand_wrapper_lower_twitter
        = image_tag @brand_account.profile_banner_uri_https.to_s
        %a.twitter-timeline{"data-dnt" => "true", "data-theme" => "dark", :href => @brand.twitter, width: 500 ,height: 500} Tweets by TwitterDev
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
          -# - if @brand.facebook
          -#   .show_brand_wrapper_upper_detail_comments_facebook#fb-root
          -#     %script{:async => "", :crossorigin => "anonymous", :defer => "defer", :src => "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=448793889050379&autoLogAppEvents=1"}
          -#     .fb-page{"data-adapt-container-width" => "true", "data-height" => "500", "data-hide-cover" => "true", "data-href" => @brand.facebook, "data-show-facepile" => "false", "data-small-header" => "true", "data-tabs" => "timeline", "data-width" => "500"}
          -#       %blockquote.fb-xfbml-parse-ignore{:cite => @brand.facebook}
          -#         %a{:href => @brand.facebook} PUMP Underwear
= javascript_include_tag 'brands/show.js'