.search_area_nav.col.s2.right
  = form_with(model: @brand, url: search_brands_path, class:"search-form_nav", local: true) do |f|
    = f.text_field :name, placeholder: "\uf002 search", class: "font-awesome fa search-form_nav-area", autocomplete: "off"
  .search_area_nav_result.row
%nav.black.row
  .nav-wrapper
    = link_to root_path do
      %i.material-icons.left.fas.fa-home
    %ul.right.hide-on-med-and-down
      -# %li
      -#   = link_to new_brand_path do
          -# %i.material-icons.center.fas.fa-plus
      %li
        = link_to brands_path do
          %i.material-icons.center.fas.fa-tshirt
      %li
        = link_to "/brands/ranking" do
          %i.material-icons.center.fas.fa-sort-numeric-up
      %li
        = link_to "#" do
          %i.material-icons.center.fas.fa-search.nav_search.slide_in
      -# %li
      -#   = link_to "#" do
      -#     %i.material-icons.center.fas.fa-globe
      -# %li
      -#   = link_to "#" do
      -#     %i.material-icons.center.fas.fa-language
      -# %li
      -#   = link_to new_user_session_path do
      -#     %i.material-icons.center.fas.fa-key
  

